<div class="todos">
    <form>
        <input type="text" 
        name="inputTodo"
        placeholder="Enter todo..."
        class="todo-input"
        [(ngModel)]="inputTodo"
        />
        <input type="submit" class="todo-submit" value="Add Todo" (click)="addTodo()" >
    </form>
    <div class="todo {{ (todo.completed)? 'done' : '' }} odd:bg-white even:bg-slate-50" *ngFor="let todo of todos; let i= index;">
        <div class="id">       
            {{i}}
        </div>
            <div class="content" (click)="toggleDone(i)">
                {{todo.content}}
            </div>
            <button class="delete" (click)="deleteTodo(i)">Remove</button>
    </div>
</div>