.toggle-all + label::before {
    content: "❯";
    font-size: 22px;
    color: rgb(230, 230, 230);
}

.toggle-all:checked + label::before {
    color: rgb(115, 115, 115);
}

.toggle-all + label{
    width: 60px;
    height: 34px;
    font-size: 0px;
    position: absolute;
    top: 80px;
    transform: rotate(90deg);
}